:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --padding: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* start main head  */
.main-head{
    font-size: 30px;
    font-weight: bold;
    border: 2px solid;
    border-color: black;
    width: 170px;
    margin: 80px auto;
    padding: 10px;
    text-align: center;
    position: relative;
}
.main-head::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    z-index: -1;

}
.main-head::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20%;  
    z-index: -1;

}
.main-head:hover:before{
    animation: move-left 0.5s linear ;
    animation-fill-mode: forwards;
}
.main-head:hover:after{
    animation: move-right 0.5s linear ;
    animation-fill-mode: forwards;   
}
.main-head:hover{
    color: white;
    border-color: var(--main-color);
    transition-delay: 0.5s;
}
@keyframes move-left{
    0%{
        left: -20%;
    }
    50%{
        left: 0%;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0%;
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}
@keyframes move-right{
    0%{
        right: -20%;
    }
    50%{
        right: 0%;
        width: 15px;
        height: 15px;
    }
    100%{
        right: 0%;
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}
/* end main head  */

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end globel rule */
/* start header */
header{
  
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    padding:  20px;
    height: 69px;
}
header .links {
    display: flex;  
}

header ul > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    position: relative;
    padding: 0 30px;
    font-size: 18px;
    transition: var(--main-transition);
    overflow: hidden;
}
header .links >li >a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0px;
    left: -100%;
}
header .links >li >a:hover{
    color: var(--main-color);
}
header .links >li:hover{
    background-color: rgb(245, 245, 245);
}
header .links >li a:hover::before{
    left: 0;    
    transition: var(--main-transition); 
}

header .links li a{
    text-decoration: none;
    color: black;
}
.to-mega{
    position: relative;
}
.mega{
    display: none ;
    
}
.mega .container{
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
    padding: 20px 20px;
    background-color: white;
    border-bottom: 2px solid;
    border-color: var(--main-color-alt); 
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: 2;
}
.mega img{
    width: 100%;
}

.mega ul li {
    padding: 0px 60px 0px -5px;
    border-bottom: 1px solid;
    border-color: #d7c8c8;
}
.mega ul li a{
    font-size: 20px;
    height: 50px;
    margin-right: 60px;
    font-weight: bold;
    color: var(--main-color-alt);
}
.mega ul li a i{
    margin-right: 10px;
}
header .container ul .to-mega:hover .mega{
   display: block;
}
@media (max-width: 767px) {
    header .logo{
        width: 100%;
        height: 45px;
        text-align: center;
        margin-bottom: 10px;
    }
     header ul {
        width: 100%;
        justify-content: center;
    }
    header ul li a{
        height: 50px;
        font-size: 14px;
        color: black;
        padding: 0 12px;
    }
    .mega .container{
        width: 375px;
        right: -45%;
        border: none;
        gap: 0px;
    }

    .mega img{
        display: none;
    }
    .mega ul li{
        margin-left: -100px;
        padding: 5px 0px;
    }
}
@media (max-width:991px) {

    .mega img{
        display: none;
    }
}
/* start header */
/* start landing */
.landing{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-8deg);
    transform-origin: 0 100%;
}
@media (max-width: 767px){
    .landing{
        height: 70vh;
    }
    .landing img{
        display: none;
    }
    .landing .text{
        text-align: center;
    }
}

.landing .container .box{
    display: flex;
    align-items: center;
    margin-top: -100px;
}
.landing .text h2{
    padding: 10px;
    font-size: 40px;
}
.landing .text p{
    padding: 0 10px;
    font-size: 24px;
    line-height: 1.5;
    color: #777;
}
.landing img {
    width: 600px;
    animation-name: anim-img ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes anim-img {
    0% {
        position: relative;
        top: 0px;
    }
    25%{
        position: relative;
        top: 10px;
    }
    50%{
        position: relative;
        top: 0px;
    }
    75%{
        position: relative;
        top: -10px;
    }
    100% {
        position: relative;
        top: 0px;
    }

}

.landing .go-down i{
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: var(--main-color);
    animation-name: anim;
    animation-duration: 1.5s;
    /* animation-timing-function: ease; */
    animation-delay: 0s;
    animation-iteration-count: infinite;
    /* animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */

}
@keyframes anim {
    25% {
        bottom: 60px;
    }
    50%{
        bottom: 50px;
    }
    75% {
        bottom: 60px;
    }
    100%{
        bottom: 50px;
    }

}
/* end landing*/
/* srart artivle */
.article{
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.article .container .art-list{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.article .box{
    border-radius: 10px;
    box-shadow: 0 0 5px #b5aeae;
    transition: 0.5s;
}
.article .art-list .box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 10px #888282;
}
.article .box img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.article .box h3{
    padding: 15px 10px;
}
.article .box .text{
    padding: 0px 10px;
    color: #777;
    line-height: 1.5;
    width: 70%;
}
.article .box .read{
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid;
    border-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}
.article .box .read p {
    font-weight: bold;
    color: var(--main-color);
    font-size: 17px;
}
.article .box .read i{
    color: var(--main-color);
}


/* end artivle */
/* start gallary */
.gallary{
    background-color: #ececec;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.gallary .container .main-head {
    z-index: 1;
}
.gallary .container .gallary-img{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallary .container .gallary-img .box{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px 1px #777;
    
}
.gallary .container .gallary-img .box .image {
    overflow: hidden; 
    position: relative;
}
.gallary .container .gallary-img .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%,-50%); 
    background-color: #ffffff36;
    width: 12px;
    height: 12px;

    opacity: 0;
    z-index: 2;
}
.gallary .container .gallary-img .box .image:hover::before{
    animation: flash 0.7s;
} 
@keyframes flash {
    0% ,
    40% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.gallary .container .gallary-img .box .image img{
    width: 100%;
}
.gallary .container .gallary-img .image:hover img{
 
    transform: rotate(5deg) scale(1.2);
    transition: 0.7s;
}
/* end gallary */
/* start featured */
.features{
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
    gap: 50px;
}
.features .container .box{
    border: 1px solid #777;
    position: relative;
    height: 750px;
}
@media (max-width: 767px){
    .features .container .box{
        height: 705px;
    }
}

.features .container .box .image{
    position: relative;
    z-index: -2;
    overflow: hidden;
}
.features .container .box .image img{
    width: 100%;
}
.features .container .box:first-child .image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff00005c;
    position: absolute;

}
.features .container .box:nth-child(2) .image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0080006b;
    position: absolute;

}
.features .container .box:last-child .image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0000ff52;
    position: absolute;

}

 .features .container .box .image::after { /*فديو 13  */
    content: "";
    position: absolute;
    bottom: 0px;
    right: -6px;
    border-style: solid;
    border-width: 0px 0px 218px 522px;
    /* border-color: green red white blue;بعد مكملت حولت للشفاف */
    border-color: transparent transparent white transparent;
    z-index: 2;
    transition: var(--main-transition);
}
.features .container .box:hover .image::after{ /*فديو 14  */
    border-width: 0px 522px 230px 0px;
    /* border-color: green red white blue; */
    border-color: transparent transparent white transparent;
    
}
.features .container .box .content{
    text-align: center;

}
.features .container .box h1{
    font-size: 45px;
    margin: 0;
}
.features .container .box p{
    padding: 20px;
    font-size: 20px;
    color: #777;
    line-height: 1.5;
    margin-top: 0px;
}
.features .container .box .content .button{
    overflow: hidden;
    width: fit-content;
    height: 61px;
    margin: 20px auto 0px;
}
.features .container .box .content a{
    border: 4px solid;
    border-color: #e51c1c;
    border-radius: 9px;
    font-weight: bold;
    font-size: 20px;
    color: #e51c1c;
    padding: 15px 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .box .content  a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e51c1c;
    top: 0;
    left: -105%;
    border-radius: 4px;
    transition: var(--main-transition);
    z-index: -1;
}
.features .box:nth-child(2) .content  a::before{
    background-color: #008000;
}
.features .box:last-child .content  a::before{
    background-color: #0000ff;
}
.features .box:hover .content  a::before{
    left: 0;
}
.features .container .box:nth-child(2) .content  a{
    border-color: #008000;
    color: #008000;

}
.features .container .box:last-child .content a{
    border-color: #0000ff;
    color: #0000ff;
}
.features .box:hover .content  a{
    color: white;
}
.features .box:nth-child(2):hover .content  a{
    color: white;
}
.features .box:last-child:hover .content  a{
    color: white;
}
/* end featured */
/* start testimonials */
.testimonials{

}
.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(250px , 1fr));
  gap: 50px;
}
.testimonials .container .box{
  
}
.testimonials .container .box p{
  width: 300px;
}
/* end testimonials */
