:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --padding: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* start main head  */
.main-head {
  font-size: 30px;
  font-weight: bold;
  border: 2px solid;
  border-color: black;
  width: fit-content;
  margin: 80px auto;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.main-head::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20%;
  z-index: -1;
}
.main-head::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20%;
  z-index: -1;
}
.main-head:hover:before {
  animation: move-left 0.5s linear;
  animation-fill-mode: forwards;
}
.main-head:hover:after {
  animation: move-right 0.5s linear;
  animation-fill-mode: forwards;
}
.main-head:hover {
  color: white;
  border-color: var(--main-color);
  transition-delay: 0.5s;
}
@keyframes move-left {
  0% {
    left: -20%;
  }
  50% {
    left: 0%;
    width: 15px;
    height: 15px;
  }
  100% {
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}
@keyframes move-right {
  0% {
    right: -20%;
  }
  50% {
    right: 0%;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}
/* end main head  */

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end globel rule */
/* start header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  padding: 20px;
  height: 69px;
}
header .links {
  display: flex;
}

header ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  position: relative;
  padding: 0 30px;
  font-size: 18px;
  transition: var(--main-transition);
  overflow: hidden;
}
header .links > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0px;
  left: -100%;
}
header .links > li > a:hover {
  color: var(--main-color);
}
header .links > li:hover {
  background-color: rgb(245, 245, 245);
}
header .links > li a:hover::before {
  left: 0;
  transition: var(--main-transition);
}

header .links li a {
  text-decoration: none;
  color: black;
}
.to-mega {
  position: relative;
}
.mega {
  display: none;
}
.mega .container {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px 20px;
  background-color: white;
  border-bottom: 2px solid;
  border-color: var(--main-color-alt);
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: 2;
}
.mega img {
  width: 100%;
}

.mega ul li {
  padding: 0px 60px 0px -5px;
  border-bottom: 1px solid;
  border-color: #d7c8c8;
}
.mega ul li a {
  font-size: 20px;
  height: 50px;
  margin-right: 60px;
  font-weight: bold;
  color: var(--main-color-alt);
}
.mega ul li a i {
  margin-right: 10px;
}
header .container ul .to-mega:hover .mega {
  display: block;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 45px;
    text-align: center;
    margin-bottom: 10px;
  }
  header ul {
    width: 100%;
    justify-content: center;
  }
  header ul li a {
    height: 50px;
    font-size: 14px;
    color: black;
    padding: 0 12px;
  }
  .mega .container {
    width: 375px;
    right: -45%;
    border: none;
    gap: 0px;
  }

  .mega img {
    display: none;
  }
  .mega ul li {
    margin-left: -100px;
    padding: 5px 0px;
  }
}
@media (max-width: 991px) {
  .mega img {
    display: none;
  }
}
/* start header */
/* start landing */
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-8deg);
  transform-origin: 0 100%;
}
@media (max-width: 767px) {
  .landing {
    height: 70vh;
  }
  .landing img {
    display: none;
  }
  .landing .text {
    text-align: center;
  }
}

.landing .container .box {
  display: flex;
  align-items: center;
  margin-top: -100px;
}
.landing .text h2 {
  padding: 10px;
  font-size: 40px;
}
.landing .text p {
  padding: 0 10px;
  font-size: 24px;
  line-height: 1.5;
  color: #777;
}
.landing img {
  width: 600px;
  animation-name: anim-img;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes anim-img {
  0% {
    position: relative;
    top: 0px;
  }
  25% {
    position: relative;
    top: 10px;
  }
  50% {
    position: relative;
    top: 0px;
  }
  75% {
    position: relative;
    top: -10px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}

.landing .go-down i {
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: var(--main-color);
  animation-name: anim;
  animation-duration: 1.5s;
  /* animation-timing-function: ease; */
  animation-delay: 0s;
  animation-iteration-count: infinite;
  /* animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */
}
@keyframes anim {
  25% {
    bottom: 60px;
  }
  50% {
    bottom: 50px;
  }
  75% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}
/* end landing*/
/* srart artivle */
.article {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.article .container .art-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.article .box {
  border-radius: 10px;
  box-shadow: 0 0 5px #b5aeae;
  transition: 0.5s;
}
.article .art-list .box:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 10px #888282;
}
.article .box img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.article .box h3 {
  padding: 15px 10px;
}
.article .box .text {
  padding: 0px 10px;
  color: #777;
  line-height: 1.5;
  width: 70%;
}
.article .box .read {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid;
  border-color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.article .box .read p {
  font-weight: bold;
  color: var(--main-color);
  font-size: 17px;
}
.article .box .read i {
  color: var(--main-color);
}

/* end artivle */
/* start gallary */
.gallary {
  background-color: #ececec;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.gallary .container .main-head {
  z-index: 1;
}
.gallary .container .gallary-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallary .container .gallary-img .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 5px 1px #777;
}
.gallary .container .gallary-img .box .image {
  overflow: hidden;
  position: relative;
}
.gallary .container .gallary-img .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff36;
  width: 12px;
  height: 12px;

  opacity: 0;
  z-index: 2;
}
.gallary .container .gallary-img .box .image:hover::before {
  animation: flash 0.7s;
}
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallary .container .gallary-img .box .image img {
  width: 100%;
}
.gallary .container .gallary-img .image:hover img {
  transform: rotate(5deg) scale(1.2);
  transition: 0.7s;
}
/* end gallary */
/* start featured */
.features {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.features .container .box {
  border: 1px solid #777;
  position: relative;
  height: 750px;
}
@media (max-width: 767px) {
  .features .container .box {
    height: 705px;
  }
}

.features .container .box .image {
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.features .container .box .image img {
  width: 100%;
}
.features .container .box:first-child .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff00005c;
  position: absolute;
}
.features .container .box:nth-child(2) .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0080006b;
  position: absolute;
}
.features .container .box:last-child .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0000ff52;
  position: absolute;
}

.features .container .box .image::after {
  /*فديو 13  */
  content: "";
  position: absolute;
  bottom: 0px;
  right: -6px;
  border-style: solid;
  border-width: 0px 0px 218px 522px;
  /* border-color: green red white blue;بعد مكملت حولت للشفاف */
  border-color: transparent transparent white transparent;
  z-index: 2;
  transition: var(--main-transition);
}
.features .container .box:hover .image::after {
  /*فديو 14  */
  border-width: 0px 522px 230px 0px;
  /* border-color: green red white blue; */
  border-color: transparent transparent white transparent;
}
.features .container .box .content {
  text-align: center;
}
.features .container .box h1 {
  font-size: 45px;
  margin: 0;
}
.features .container .box p {
  padding: 20px;
  font-size: 20px;
  color: #777;
  line-height: 1.5;
  margin-top: 0px;
}
.features .container .box .content .button {
  overflow: hidden;
  width: fit-content;
  height: 61px;
  margin: 20px auto 0px;
}
.features .container .box .content a {
  border: 4px solid;
  border-color: #e51c1c;
  border-radius: 9px;
  font-weight: bold;
  font-size: 20px;
  color: #e51c1c;
  padding: 15px 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .box .content a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e51c1c;
  top: 0;
  left: -105%;
  border-radius: 4px;
  transition: var(--main-transition);
  z-index: -1;
}
.features .box:nth-child(2) .content a::before {
  background-color: #008000;
}
.features .box:last-child .content a::before {
  background-color: #0000ff;
}
.features .box:hover .content a::before {
  left: 0;
}
.features .container .box:nth-child(2) .content a {
  border-color: #008000;
  color: #008000;
}
.features .container .box:last-child .content a {
  border-color: #0000ff;
  color: #0000ff;
}
.features .box:hover .content a {
  color: white;
}
.features .box:nth-child(2):hover .content a {
  color: white;
}
.features .box:last-child:hover .content a {
  color: white;
}
/* end featured */
/* start testimonials */
.testimonials {
  background-color: #cccccc52;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.testimonials .main-head{
    z-index: 1;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  padding: 20px 40px 20px 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
}
.testimonials .container .box h3{
    padding: 0px 0px 10px;
}
.testimonials .container .box p:first-of-type {
    color: #777;
    padding: 0px 0px 10px;
}
.testimonials .container .box p:last-of-type {
    color: #777;
    padding: 0px 0px 10px;
    line-height: 1.5;
}
.testimonials .container .box img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -28%;
    right: -3%;
    border: 10px solid;
    border-color: #ececec;
}
.testimonials .container .box .stars{
    color: #dfa63e;
    padding: 0px 0px 10px;
}
/* end testimonials */
/* start TEAM MEMBERS */
.team{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.team .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 21px;
}

.team .container .box{
  position: relative;
  margin-left: 10%;

}
.team .container .box::before,
.team .container .box::after{
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0%;
  border-radius: 10px;
  
}
.team .container .box::before{
  background-color: #cccccc52;
  width: 100%;
  z-index: -2;
}
.team .container .box::after{
  background-color: #77777769;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.team .container .box:hover:after {
  width: 100%;
  /*  مهلة يتحرك من صفر الى 100 */
/* اكو طريقة اخرى وهي اسوي بعرض مية من البداية واحطة عاليمنة واسوي اخفاء وبعد الهوفر يضهر */
}
.team .container  .img-i{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-top: 12%;
  margin-right: 12%;
}
.team .container .box .img-i .image {
    z-index: 1;
    position: relative;
}
.team .container .box .img-i .image img{
  width: 395px;
  height: 395px;
  border-radius: 17px;
}
.team .container .box:hover .img-i .image::before{
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 99%;
  background-color: #77777745;
  border-radius: 17px;
  z-index: 2;
}
.team .container  .img-i .soial{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container  .img-i .soial i{
  padding: 20px;
  color: #07060652;
  font-size: 21px;
}
.team .container .box .text{
  padding: 20px;
}
.team .container .box .text h2{
  color: var(--main-color);
  font-size: 29px;
}
.team .container .box .text p{
  margin-top: 4px;
}

@media (max-width: 767px) {
  .team .container .box .img-i .image img{
    width: 275px;
    height: 275px;
    margin-top: 11px;
  }
}
@media (max-width: 992px) {
  .team .container .box .img-i .image img{
    width: 275px;
    height: 275px;
  }
}
@media (min-width: 1200px) {
  .team .container .box .img-i .image img{
    width: 300px;
    height: 300px;
  }
}

/* end TEAM MEMBERS */
/* start services */
.services{
  background-color: #ececec;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 33px;
}
.services .container .box{
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  position: relative;
  transition: var(--main-transition);
}
.services .container .box::before , 
.services .container .box::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
  top: 0px;  
  z-index: 2;
  transition: var(--main-transition);
}
.services .container .box::before{
  left: 50%;
}
.services .container .box::after{
  right: 50%;
}
.services .container .box:hover::before ,
.services .container .box:hover::after{
  width: 50%;
}
.services .container .box:hover{
  transform: translateY(-10px);
}

.services .container .box div:first-child{
  padding: 34px 34px 20px;
}
.services .container .box div:first-child i{
  font-size: 65px;
  color: #b3b3b3bd;
  margin-bottom: 14px;
}
.services .container .box div:first-child h2{
  color: var(--main-color);
  font-size: 27px;
}
.services .container .box div:last-child{
  display: flex;
  justify-content: space-between;
  background-color: #77777721;
  overflow: hidden;
}
.services .container .box div:last-child p:first-child{
  padding: 5px 20px;
  font-size: 37px;
  font-weight: bold;
  color: white;
  z-index: 2;
  position: relative;
}
.services .container .box div:last-child p:first-child::before{
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 131%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transform: skewX(-30deg);
  
}
.services .container .box div:last-child p:first-child::after{
  content: "";
  position: absolute;
  top: 0;
  left: 91px;
  width: 58%;
  height: 100%;
  background-color: #7777776b;
  z-index: -1;
  transform: skewX(-30deg);
  
}
.services .container .box div:last-child p:last-child{
  font-weight: 400;
  color: var(--main-color);
  font-size: 16px;
  padding: 16px;
}

/* end services */
/* start skill */
.skill{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.skill .container{
  display: flex;
}
.skill .container .box {
  width: 100%;
}
.skill .container .box .level >div {
  width: 100%;
  height: 30px;
  background-color: #ececec;
  border-radius: 5px;
  position: relative;
}
.skill .container .box .level >div span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 0  5px 5px 0;
  
}
.skill .container .box .level >div span::after{
  content: attr(data-width);
  width: 30px;
  height: 20px;
  position: absolute;
  top: -38px;
  right: 0;
  border: 2px solid #ececec;
  border-radius: 7px;
  padding: 5px;
}
.skill .container .box .level h3{
  padding: 10px 0;
}
@media (max-width: 767px){
  .skill .container .image img{
    display: none;
  }
}
/* end skill */
/* start work */
.work{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #ececec;
}
.work  .container .main-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .main-img img{
  padding: 20px;
}
.work >.container{
  display: flex;

}
.work .container .job > div{
  background-color: white;
  margin: 40px 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 5px;
}
.work .container .job div .text{
  width: 85%;

}
.work .container .job .text h3{
  padding: 10px 0;
  font-size: 24px;
}
.work .container .job .text p{
  color: #777;
  line-height: 1.5;
  font-size: 19px;
}
.work .container .job .image img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .work .container{
    flex-direction: column;
  }
  .work .main-img img{
    max-width: 100%;
  }
  .work .container .job > div{
    flex-direction: column;
    text-align: center;
  }
  .work .container .job .image img{
    margin-right: 0;
  }
}
/* end work */
/* start events */
.events{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.events .container{}
.events .container .box:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events .container .box:first-child .content{
  width: 50%;
}
.events .container .box:first-child  img{
  width: 52%;
}
.events .container .box:first-child .content .time{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.events .container .box:first-child .content .time >div{
  border: 1px solid;
  border-color: #f7eded;
  border-radius: 10px;
}
.events .container .box:first-child .content .time >div:hover{
  border-color: var(--main-color);
}
.events .container .box:first-child .content .time >div h2{
  font-size: 31px;
    color: var(--main-color);
    padding: 10px 15px;
}
.events .container .box:first-child .content .time >div p{
  text-align: center;
  padding: 5px;
  border-top: 1px solid;
  border-color: #f7eded;
}
.events .container .box:first-child .content .time >div:hover p{
  border-color: var(--main-color);
}
.events .container .box:first-child .content .text{
  padding: 10px;
  text-align: center;
}
.events .container .box:first-child .content .text h3{
  font-size: 30px;
    padding: 10px;
}
.events .container .box:first-child .content .text p{
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
  color: #777;
}
.events .container .box:last-child  form{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 20px auto;
  padding: 25px 40px;
  background-color: #ececec;
  width: 61%;
  border-radius: 50px;
}
.events .container .box:last-child .email{
  background-color: white;
  border: none;
  padding: 15px 100px;
  border-radius: 50px;
  width: 76%;
}
.events .container .box:last-child input[type="submit"]{
  border: none;
  color: white;
  background-color: var(--main-color);
  padding: 15px 16px;
  border-radius: 50px;
  font-size: 17px;
}
@media (max-width: 767px){
  .events .container .box:first-child .content{
    width: 100%;
  }
  .events .container .box:first-child  img{
    display: none;
  }
  .events .container .box:last-child {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    padding: 25px 15px;
  }
  .events .container .box:last-child .email{
    padding: 20px 5px;
    width: 100%;
    border-radius: 0;
  }
  .events .container .box:last-child input[type="submit"]{
    border-radius: 0;
    margin-top: 10px;
  }
}
@media (min-width: 922px){
  .events .container .box:last-child form {
    width: 75%;
  }
}
/* end events */
/* start PRICING PLANS  */
.pricing-plans{  
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #ececec;
}
.pricing-plans .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.pricing-plans .container >.box{
  background-color: white;
  padding: 30px 0px;
  position: relative;
  box-shadow: 0 0 5px #777;
}
.pricing-plans .container >.box::before,
.pricing-plans .container >.box::after{
  content: "";
  width: 0%;
  height: 50%;
  position: absolute;
  background-color: #e1e1e147;
  transition: var(--main-transition);
  
}
.pricing-plans .container >.box::before{
  top: 0;
  left: 0;
  
}
.pricing-plans .container >.box::after{
  top: 50%;
  right: 0;
}
.pricing-plans .container >.box:hover:before,
.pricing-plans .container >.box:hover:after{
  width: 100%;
}
.pricing-plans .container .box >div:first-child{
  text-align: center;
  position: relative;
}
.pricing-plans .container .box >div:first-child h3{
  font-size: 24px;
  padding: 20px;
}
.pricing-plans .container .box >div:first-child img{
  width: 100px;
}
.pricing-plans .container .box >div:first-child h2{
  font-size: 51px;
  color: var(--main-color);
  margin-top: 20px;
}
.pricing-plans .container .box >div:first-child p{
  color: #777;
}
.pricing-plans .container .box ul{
  padding: 20px 0;
}
.pricing-plans .container .box ul li{
  padding: 20px 20px;
  border-top: 1px solid;
  border-color: #e1e1e1;
}
.pricing-plans .container .box ul li i{
  color: var(--main-color);
  font-size: 19px;
  margin-right: 10px;
}
.pricing-plans .container .box button{
  margin: 44px 0px 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 17px 20px;
  border: 3px solid;
  border-color: var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  transition: var(--main-transition);
}
.pricing-plans .container .box button:hover{
  color: white;
  background-color: var(--main-color);
}
.pricing-plans .container >.box:nth-child(2) div .holder{
  position: absolute;
  width: 140px;
  height: 40px;
  top: 7%;
  right: -7%;
  background-color: var(--main-color);
  padding: 10px;
  transform: rotate(90deg);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.pricing-plans .container >.box:nth-child(2) div .holder::after{
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  border-style: solid;
  border-width: 20px 23px 20px 12px;
  border-color: transparent white transparent transparent;
}
/* end PRICING PLANS  */
/* start TOP VIDEOS */
.top-videos{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.top-videos .container{}
.top-videos .container .box{
  display: flex;
  border: 1px solid #ececec;
}
.top-videos .container .box >div:first-child{
  width: 30%;
}
.top-videos .container .box >div:first-child h3{
  padding: 4%;
  border: 1px solid #ececec;
  background-color: #ececec;
}
.top-videos .container .box >div:first-child >div{
  padding: 4%;
  border: 1px solid #ececec;
}
.top-videos .container .box >div:first-child >div p{
  padding: 2px 0;
}
.top-videos .container .box >div:first-child >div:hover{
  background-color: #ececec;
}
.top-videos .container .box >div:first-child >div:hover p:first-child{
  color: var(--main-color);
}
.top-videos .container .box >div:first-child >div p:last-child{
  color: #777;
}
.top-videos .container .box >div:last-child{
  background-color: #ececec;
  width: 70%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;

}
.top-videos .container .box div:last-child .image img{
  width: 100%;
}
.top-videos .container .box >div:last-child p{
  padding: 10px;
  background-color: white;
  font-size: 14px;
}
@media (max-width: 767px){
  .top-videos .container .box {
    flex-direction: column;
}
  .top-videos .container .box >div:first-child{
    width: 100%;
  }
  .top-videos .container .box >div:last-child{
    width: 100%;
    text-align: center;
  }
}
/* end TOP VIDEOS */
/* start Stats */
.stats{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #e9e6e6;
}
.stats h2{
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 40px;
}
.stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .container .box{
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}
.stats .container .box::before,
.stats .container .box::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  transition: var(--main-transition);
  background-color: var(--main-color);
}
.stats .container .box::before{
  bottom: 0;
  left: 0;
}
.stats .container .box::after{
  top: 0;
  right: 0;
}
.stats .container .box:hover:before,
.stats .container .box:hover:after{
  height: 100%;
}
.stats .container .box i {
  font-size: 36px;
  padding: 10px;
}
.stats .container .box p{
  font-size: 58px;
  font-weight: bold;
}
.stats .container .box p:last-child{
  color: var(--main-color);
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
/* end Stats */
/* start discount */
.discount{
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.discount{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

}

.discount .box:first-child{
  background-color: var(--main-color);
  padding: 5% 17%;
  text-align: center;
}
.discount .box:first-child h2{
  margin-top: 74px;
  font-size: 36px;
  padding: 20px;
  color: white;
}
.discount .box:first-child p{
  font-size: 18px;
  color: white;
  line-height: 1.8;
  padding: 20px;
}
.discount .box:first-child img{
  width: 60%;
}
.discount .box:last-child h2{
  margin-top: 74px;
  font-size: 36px;
  padding: 20px;
}
.discount .box:last-child{
  text-align: center;
  padding: 5% 17%
}
.discount .box:last-child form input:focus,
.discount .box:last-child form textarea:focus {
  outline:none;
}
.discount .box:last-child form input{
  width: 85%;
  height: 51px;
  margin-bottom: 20px;
  border: none;
  background-color: #eee;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: #777;
}
.discount .box:last-child form #send{
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;

}
.discount .box:last-child form textarea{
  width: 85%;
  margin-bottom: 20px;
  border: none;
  background-color: #eee;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: #777
}
/* end discount */
